In [1]:
cd ..

c:\Users\ginns\Documents\Code Projects\dimension_reduction

In [2]:
%load_ext autoreload
%autoreload 2

In [6]:
from gendata.create_nd_data import generate_nd_data
from dimreduce.reduce_dimensionality import reduce_dim

In [7]:
data_df = generate_nd_data(0, 1, 100, 6)
data_df

           0         1         2         3         4         5
0  -0.417540 -1.567680 -1.936655  0.367884  0.915164 -1.042309
1   1.508872  0.173325 -0.915798 -1.012383 -0.523646  0.773267
2   0.507657  1.389786 -0.365045 -1.154148 -0.151587 -0.924099
3  -0.403864 -0.737584  0.519040  0.366140 -1.707728  0.318007
4  -1.974645 -1.745853  0.781303 -1.673452  0.697591 -1.374764
..       ...       ...       ...       ...       ...       ...
95  0.800282  1.700114 -0.441181  0.929047 -0.024649  0.639691
96 -1.116376 -0.129047 -0.043476 -1.783398  0.905494  0.257446
97  0.157927  0.966263 -0.468196  0.876984 -0.200427  1.013612
98 -0.433563  0.835134 -0.454021 -2.214040  0.587377 -0.999497
99  0.841857 -0.141874 -0.257214  0.623081 -1.309987 -1.323069

[100 rows x 6 columns]

In [8]:
data_df.describe()

                0           1           2           3           4           5
count  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.073124    0.039662    0.081158    0.025257    0.061763   -0.010174
std      0.967959    1.086777    1.077054    1.033022    1.030015    0.887150
min     -2.148667   -2.563717   -2.740227   -2.259746   -3.162665   -2.359729
25%     -0.608735   -0.655808   -0.651471   -0.616363   -0.545583   -0.782893
50%     -0.001326   -0.019070   -0.095373    0.026643    0.166207    0.054792
75%      0.713774    0.868743    0.786579    0.704652    0.704367    0.626804
max      2.105072    2.764732    2.966468    2.181854    2.989227    2.285894

In [10]:
reduce_dim(data_df, 2, 'svd')[0]

     latent0   latent1
0  -0.255179 -1.089035
1   1.266901 -0.944178
2   1.165051 -0.826087
3  -0.127115  0.013031
4  -2.476432 -1.966581
..       ...       ...
95  1.589000  1.400810
96 -0.783947 -1.212901
97  1.087442  1.178653
98  0.284959 -1.775916
99  0.805647 -0.285328

[100 rows x 2 columns]